.block3 {
  box-sizing: border-box;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    float: left;
    width: 27.2%;
  }

  @media (min-width: $desktop-width) {
    float: right;
    width: 18.9%;
    padding-right: 0;
  }
}
