.content {
  display: block;
  box-sizing: border-box;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
  }
}
